.user-menu {
  background-color: #077B88;
  width: 17.5rem;
  height: 100%;
  color: white;
  margin: 0px;
}

.user-menu h3 {
  padding: 2rem 2rem;
}

.user-menu .nav-link {
  padding: 0.5rem 2rem;
}

.user-menu a {
  color: white;
  font-size: 13pt;
  font-weight: bold;
}

.user-menu a:hover {
  background-color: #F3CC91;
  color: #077B88;
  border-bottom: none !important;
  font-size: 13pt;
  font-weight: bold;
}

.user-profile-menu {
  padding: 1.5rem 0rem 0rem 0rem;
  border-top: 1px solid #ECF4FE;
}

.user-profile-menu a {
  width: 100%;
}

.user-role {
  padding-left: 2rem;
  font-size: 13pt;
  font-weight: bold;
  width: 100%;
}

.user-role button {
  background-color: #077B88 !important;
  color: white !important;
  border: 3px solid #F3CC91 !important;
  width: 10rem !important;
  border-radius: 10px;
  font-size: 13pt !important;
  font-weight: bold;
}

.user-role button:hover {
  background-color: #F3CC91 !important;
  color: #077B88 !important;
  border: 3px solid #F3CC91 !important;
  width: 10rem !important;
  border-radius: 10px;
}

.user-role .dropdown {
  background-color: #077B88;
}

.user-role .dropdown-item {
  color: #077B88;
}

.user-role .dropdown-item:hover {
}

.user-profile-menu .logout-btn {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
}

.user-menu .logout-btn button {
  background-color: #F36363 !important;
  padding: 0.5rem 2rem;
  width: 10rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14pt !important;
}

.user-menu .logout-btn button:hover {
  background-color: #F3CC91 !important;
  padding: 0.5rem 2rem;
  width: 10rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14pt !important;
}